#curtain {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #000;
    z-index: 21;
    opacity: .6;
}

@media only screen and (max-width: 991px) {
    #curtain {
        display: block;
    }
}
