/*----------------------------*\
	Top header
\*----------------------------*/

@media (min-width: 768px) {
    #top-header .header-links:nth-child(2) {
        margin-left: auto!important;
    }
}

#top-header {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #1E1F29;
}

.header-links li {
    display: inline-block;
    margin-right: 15px;
    font-size: 12px;
}

    .header-links li:last-child {
        margin-right: 0px;
    }

    .header-links li a {
        color: #FFF;
    }

        .header-links li a:hover {
            color: #D10024;
        }

    .header-links li svg {
        color: #D10024;
        margin-right: 5px;
    }